<section class="section-book">
  <div class="row1">
    <div class="book">
      <div class="book__form">
        <form action="/signin" method="POST">
          <div class="u-margin-bottom-medium">
            <h2 class="heading-secondary">
              Sign In!
            </h2>
          </div>
          <div class="form__group">
            <input type="email" class="form__input" placeholder="Email Address" name="email" id="email" required />
            <label for="email" class="form__label">Email address</label>
          </div>
          <div class="form__group">
            <input type="password" class="form__input" placeholder="Password" name="password" id="password">
            <label for="password" class="form__label">Password</label>
          </div>
          <div class="form__group">
            <button class="btn btn--green">Sign In &rarr;</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>