<section class="section-book">
  <div class="row1">
    <div class="book">
      <div class="book__form">
        <form action="/addFamily" method="POST">
          <div class="u-margin-bottom-medium">
            <h2 class="heading-secondary">
              Add a new family Member
            </h2>
          </div>
          <div class="form__group">
            <input type="text" class="form__input" placeholder="Full Name" name="name" id="name" required />
            <label for="name" class="form__label">Full name</label>
          </div>
          <div class="form__group">
            <input type="email" class="form__input" placeholder="Email Address" name="email" id="email" required />
            <label for="email" class="form__label">Email address</label>
          </div>
          <div class="form__group ">
            <select id="inputState" class="form__input" name="role">
              <option selected>Role...</option>
              <option value="Father">Father</option>
              <option value="Mother">Mother</option>
              <option value="Son">Son</option>
              <option value="Daugther">Daugther</option>
            </select>
          </div>
          <div class="form-check form__group">
            <input type="checkbox" class="form-check-input form__check" name="check">
            <label class="form-check-label form__label" for="check">Admin</label>
          </div>
          <div class="form__group">
            <button class="btn btn--green">Add &rarr;</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>