<section class="section-book">
  <div class="row1">
    <div class="book">
      <div class="book__form">
        <form action="/add" method="POST">
          <div class="u-margin-bottom-medium">
            <h2 class="heading-secondary">
              Add a new task
            </h2>
          </div>
          <div class="form__group ">

            <select id="inputState" class="form__input" name="task_name">
              <option selected>Task...</option>
              {{#each Data.Task}}
              <option value="{{task_name}}">{{task_name}}</option>
              {{/each}}
            </select>
          </div>

          <div class="form__group ">
            <select id="inputState" class="form__input" name="assign_member">
              <option value="{{Data.Member.name}}">{{Data.Member.name}}</option>
            </select>
          </div>

          <div class="form__group">
            <input type="date" class="form__input" name="date_todo" placeholder="Date expected to do your task">
          </div>
          <div class="form__group">
            <input type="time" class="form__input" name="time_todo" placeholder="Time expected to do your task">
          </div>



          <div class="form-group">
            <button type="submit" class="btn btn-success btn-block">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>